.hypLinks a {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
}

.hypLinks a:hover, a:active {
  background-color: green;
}

.btnPost {
	background-color: #1C5A80;
	font-size: 12px;
	border-radius: 6px;
	color:white;
	font-weight:bold;
	padding: 6px 14px;
}

.btnPost:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.messages{
	font-family:Arial;
	font-size: 13px;
	color:Red;
	font-weight:bold;
}